@import "tailwindcss";

:root {
  /* variables */
  --color-primary: #12B759;
  --color-secondary: #002140;
  /* … */
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
}
